.button-design{
    background-color: #E87676;
    color:white;
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 60px;

}
.forget-password{
    margin-bottom: 90px;
    padding-top: 20px;
}
.text-design-h2{
    color: #E87676;
    font-size: 3rem;
    font-weight: 400;

}
.text-design{
    color: #E87676;
}