.profileContainer{
 
   
    width: 59%;
    margin-left: 27%;
    
    background-color: transparent;

    
}
.form-design{
    margin-left: 30%;
    width: 100%;
}
.form-container{
    display: flex;
    
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    
   
}
.img-style{
    border-radius:100px ;
    height: 15%;
    margin-right: 10px;
}

