.req-contain{
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin-top: 30px;
    
}

.sub-container{
    display: flex;
    flex-direction: column;
    margin-right: -18%;
}
.font{
 font-size: 2rem
}
.card-style{
    border-left:6px solid rgb(253, 191, 77);

}

.icon-design{
    color: rgb(241, 78, 78);
    cursor: pointer;
    margin-left: 30.6%;
    font-size: 3rem;
    margin-top: 10px;
    border-radius: 50px;
   
    -webkit-box-shadow: 10px 10px 10px 0px rgb(241, 78, 78);
    -moz-box-shadow: 10px 10px 10px 0px rgb(241, 78, 78);
    box-shadow: 5px 3px 10px 0px rgb(241, 78, 78);
}
